* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f9; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#fichaAluno {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
    width: 100%;
}

#fichaAluno {
    width: 48%; 
}


img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-right: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #fichaAluno {
        flex-direction: column;
        align-items: center;
    }